img[alt="Swagger UI"] {
  content: url('/favicon.png');
}

.swagger-ui .topbar {
  background: linear-gradient(to right, #c03a48, #d35d39, #b3801a, #60aa20, #1a366e, #a83293, #c03a48, #d35d39, #b3801a, #60aa20, #1a366e, #a83293, #c03a48);
  background-color: transparent;
  animation: rainbow_animation 3s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

/*** Lil Guy ***/

footer > div > a {
  text-decoration: none;
}

.lilguy {
  font-size: 1.5rem;
  font-family: monospace, monospace;
  font-weight: bold;
}

.lilguy:hover {
  color: red;
  font-weight: bold;
  text-shadow: black 1px 1px;
}

.lilguy:hover:after {
  color: red;
  content: " <(Where am I? What am I doing? Who are you?)";
}

@keyframes rainbow_animation {
  0%,100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}